/*
*   Main Stylesheet for DLB+
*
*/


/*
 *  Page includes
 */

/* Main container */
.headerpadding {
  display: block;
  height: 150px;
}
#welcome {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -372px; /* the bottom margin is the negative value of the footer's height */
}

/* Footer */

.footer, .push {
  height: 372px; /* '.push' must be the same height as 'footer' */
}

/*
 *  Page specific
 */

/* Index */
table#randomlist {
  width: 85%;
  margin: 0 auto;
}

table#randomlist .faCol {
  margin-left: 10px;
  width: 40px;
}

/* Item Details */
table#itemdetails {
  margin: 0 auto;
  text-align:center;
}

table#itemdetails th,td {
  text-align: left;
}

table#itemdetails .firstCol {
  vertical-align: top;
  padding-right: 20px;
}

/* Search */
.searchbox {
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.searchbox select#type{
  overflow-y: auto;
}

.searchbox select, input[type=text], input[type=month] {
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: left;
}

.searchbox input[type=text]:focus input[type=month]:focus {
  text-align: center;
}

.searchbox input[type="month"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.searchbox .left {
  display: inline-block;
  float: left;
}

.searchbox .right {
  display: inline-block;
  width: auto;
  margin-left: 8px;
  float: left;
}

.searchbox input[type=submit] {
  width: 100%;
  background-color: #658eca;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Results */
table#resultslist {
  width: 85%;
  margin: 0 auto;
}

table#resultslist .faCol {
  margin-left: 10px;
  width: 40px;
}

p.result_summary {
  color: #848484;
  font-size: 12px;
  font-family: monospace;
}

div#paginationbox {
  margin-top: 30px;
}

div#paginationbox img {
  margin-top: 0;
  margin-bottom: 0;
}

div#paginationbox p.pageNoOf {
  display: inline-block;
  line-height: 10px;
  padding: 4px 5px 4px 5px;
  font-family: monospace;
  font-size: 15px;
}

/* Shopping Cart */
table#cartlist {
  width:100%;
  margin: 0 auto;
}

table#cartlist .faCol {
  margin-left: 10px;
}

input[type=button].nicebutton, input[type=submit].nicebutton {
  width: 20%;
  background-color: #658eca;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
}

.checkboxheadcol {
  text-align: center;
  margin-bottom: 15px;
  display: block;
}